<div class="spinner-overlay" *ngIf="loading">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <a href="landing-page" title="Volver atrás" class="back-link">
      <mat-icon class="flecha-atras">arrow_back</mat-icon>
    </a>
    <div class="fadeIn first">
      <img src="assets/img/LogoSinFondo.png" id="icon" alt="Star Routing logo" />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <div class="fadeIn second">
        <mat-form-field appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input formControlName="correoUsuario" type="email" matInput placeholder="Ingresa tu email" [ngClass]="{
              'is-invalid': loginForm.get('correoUsuario')?.invalid && (loginForm.get('correoUsuario')?.touched || loginForm.get('correoUsuario')?.dirty),
              'is-valid': loginForm.get('correoUsuario')?.valid && (loginForm.get('correoUsuario')?.touched || loginForm.get('correoUsuario')?.dirty)
            }">
          <mat-icon matSuffix color="primary">person</mat-icon>
        </mat-form-field>
      </div>
      <div class="fadeIn third">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input formControlName="contrasenaUsuario" matInput placeholder="Ingresa tu contraseña" [ngClass]="{
                'is-invalid': loginForm.get('contrasenaUsuario')?.invalid && (loginForm.get('contrasenaUsuario')?.touched || loginForm.get('contrasenaUsuario')?.dirty),
                'is-valid': loginForm.get('contrasenaUsuario')?.valid && (loginForm.get('contrasenaUsuario')?.touched || loginForm.get('contrasenaUsuario')?.dirty)
              }" [type]="showPassword ? 'text' : 'password'">
            <mat-icon matSuffix (click)="togglePasswordVisibility()" [color]="'primary'">
              {{ showPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </mat-form-field><br>
          <a href="javascript:void(0);" (click)="openForgotPasswordDialog($event)">
            <span>¿Olvidaste la contraseña?</span>
          </a>
        </p>
      </div>

      <div class="login-button">
        <button type="submit" class="fadeIn fourth">Iniciar sesión</button>
      </div>
    </form>
  </div>
</div>