<div class="spinner-overlay" *ngIf="loading">
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>

<h1 mat-dialog-title>Editar perfil</h1>

<div mat-dialog-content>
    <div class="content">
        <form [formGroup]="editForm">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="idTipoDocumento">Tipo documento <b style="color: red;">*</b></label>
                        <mat-select class="form-control" formControlName="idTipoDocumento"
                            placeholder="---SELECCIONE---" [ngClass]="{
                'is-valid': editForm.get('idTipoDocumento')?.valid
              }">
                            <mat-option *ngFor="let tipoDocumento of tiposDocumento"
                                [value]="tipoDocumento.idTipoDocumento">{{ tipoDocumento.nombreTipo }}</mat-option>
                        </mat-select>
                        <div *ngIf="editForm.get('idTipoDocumento')?.errors?.['required']" class="invalid-feedback">
                            Este campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">N° Documento <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="documentoUsuario" [ngClass]="{
                'is-invalid': editForm.get('documentoUsuario')?.invalid && editForm.get('documentoUsuario')?.dirty,
                'is-valid': editForm.get('documentoUsuario')?.valid
              }" />
                        <div *ngIf="editForm.get('documentoUsuario')?.errors?.['pattern']" class="invalid-feedback">
                            Documento inválido, mínimo 7 y máximo 10 dígitos numéricos.
                        </div>
                        <div *ngIf="editForm.get('documentoUsuario')?.errors?.['required']" class="invalid-feedback">
                            Este campo es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Nombre <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="nombreUsuario" [ngClass]="{
                'is-invalid': editForm.get('nombreUsuario')?.invalid && editForm.get('nombreUsuario')?.dirty,
                'is-valid': editForm.get('nombreUsuario')?.valid
              }" />
                        <div *ngIf="editForm.get('nombreUsuario')?.errors?.['required']" class="invalid-feedback">
                            Este campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Apellido <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="apellidoUsuario" [ngClass]="{
                'is-invalid': editForm.get('apellidoUsuario')?.invalid && editForm.get('apellidoUsuario')?.dirty,
                'is-valid': editForm.get('apellidoUsuario')?.valid
              }" />
                        <div *ngIf="editForm.get('apellidoUsuario')?.errors?.['required']" class="invalid-feedback">
                            Este campo es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Teléfono <b style="color: red;">*</b></label>
                        <input type="text" class="form-control" formControlName="telefonoUsuario" [ngClass]="{
                'is-invalid': editForm.get('telefonoUsuario')?.invalid && editForm.get('telefonoUsuario')?.dirty,
                'is-valid': editForm.get('telefonoUsuario')?.valid
              }" />
                        <div *ngIf="editForm.get('telefonoUsuario')?.errors?.['pattern']" class="invalid-feedback">
                            Teléfono inválido, debe contener 10 dígitos numéricos.
                        </div>
                        <div *ngIf="editForm.get('telefonoUsuario')?.errors?.['required']" class="invalid-feedback">
                            Este campo es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Correo <b style="color: red;">*</b></label>
                        <input type="email" class="form-control" formControlName="correoUsuario" [ngClass]="{
                'is-invalid': editForm.get('correoUsuario')?.invalid && editForm.get('correoUsuario')?.dirty,
                'is-valid': editForm.get('correoUsuario')?.valid
              }" />
                        <div *ngIf="editForm.get('correoUsuario')?.errors?.['pattern']" class="invalid-feedback">
                            Correo inválido.
                        </div>
                        <div *ngIf="editForm.get('correoUsuario')?.errors?.['required']" class="invalid-feedback">
                            Este campo es obligatorio.
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Contraseña</label>
                        <div class="input-group">
                            <input class="form-control" disabled placeholder="**********" />
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="idRol">Rol</label>
                        <input class="form-control" formControlName="idRol" [value]="getRolNombre()" readonly [ngClass]="{
                            'is-valid': editForm.get('idRol')?.valid
                          }">
                    </div>
                </div>
            </div>
            <br>
            <a href="#" (click)="togglePasswordChange($event)">
                <span *ngIf="!showPasswordChange">Cambiar contraseña</span>
                <span *ngIf="showPasswordChange">Cancelar cambio de contraseña</span>
            </a>
            <br><br>
            <div *ngIf="showPasswordChange" [formGroup]="pwdForm">
                <label for="exampleFormControlInput1">Nueva contraseña <b style="color: red;">*</b></label>
                <div class="input-group">
                    <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control"
                        formControlName="contrasenaUsuario" [ngClass]="{
                'is-invalid': pwdForm.get('contrasenaUsuario')?.invalid,
                'is-valid': pwdForm.get('contrasenaUsuario')?.valid
              }" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" style="margin-left: 5px;"
                            (click)="toggleShowPassword()">
                            <mat-icon>
                                {{ showPassword ? 'visibility_off' : 'visibility' }}
                            </mat-icon>
                        </button>
                    </div>
                    <div *ngIf="pwdForm.get('contrasenaUsuario')?.errors?.['required']" class="invalid-feedback">
                        Este campo es obligatorio.
                    </div>
                    <div *ngIf="pwdForm.get('contrasenaUsuario')?.errors?.['pattern']" class="invalid-feedback">
                        La contraseña debe contener mínimo:
                        <ul>
                            <li>
                                8 caracteres.
                            </li>
                            <li>
                                Una minúscula.
                            </li>
                            <li>
                                Una mayúscula.
                            </li>
                            <li>
                                3 números.
                            </li>
                            <li>
                                1 caracter especial.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
        <br>
        <button type="button" mat-raised-button color="accent" (click)="closeDialog()">Atras</button> |
        <button type="submit" mat-raised-button color="primary" (click)="saveChanges()"
            [disabled]="editForm.invalid || (showPasswordChange && pwdForm.get('contrasenaUsuario')?.invalid)">Guardar
            cambios</button>
    </div>
</div>