<div class="landing-page">
    <header>
        <div class="container">
            <a href="#" class="logo">Star <b id="estrella">☆ </b>Routing</a>
            <ul class="links">
                <li><a (click)="scrollToInicio()">Inicio</a></li>
                <li><a (click)="scrollToSobreNosotros()">Sobre nosotros</a></li>
                <li><a (click)="scrollToContactenos()">Te contactamos</a></li>
                <li><a (click)="login()">Iniciar sesión</a></li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div id="inicio" class="container">
            <div class="info">
                <h1>Simplifica tus entregas con Star Routing</h1>
                <p>Incrementa la eficiencia en tus operaciones de entrega, reduce los costos logísticos y supera las
                    expectativas de tus clientes con nuestro software de última generación. Únete a la comunidad de
                    éxito de Star Routing y transforma tus rutas de reparto.</p>
                <a href="https://drive.google.com/uc?export=download&id=1W7pYymjByQUX0w63TfHpWKOeeR72ma8T"
                    target="_blank"><button>Descargar app para Android</button></a>
            </div>
            <div class="image">
                <img src="https://i.postimg.cc/65QxYYzh/001234.png">
            </div>
        </div>
        <div id="sobreNosotros" class="container">
            <h1>Sobre nosotros</h1>
            <p>Somos una empresa especializada en proporcionar soluciones logísticas de última generación con un enfoque
                central en la mejora de la eficiencia de las operaciones de entrega y en superar constantemente las
                expectativas de nuestros clientes.</p>
            <p>A través de nuestra avanzada tecnología de software, brindamos la capacidad de optimizar y transformar
                las rutas de reparto, lo que se traduce directamente en la reducción de los costos logísticos y en una
                mayor satisfacción de nuestros clientes.</p>
        </div>
    </div>
    <div id="contactenos" class="container">
        <h1>Nosotros te contactamos</h1>
        <form class="cf">
            <div class="half left cf">
                <input type="text" id="input-name" placeholder="Nombre">
                <input type="email" id="input-email" placeholder="Correo electrónico">
            </div>
            <div class="half right cf">
                <textarea name="message" type="text" id="input-message" placeholder="Mensaje"></textarea>
            </div>
            <input type="submit" value="Enviar formulario" id="input-submit">
        </form>
    </div>
</div>

<br><br><br><br>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2024. Todos los derechos reservados por
                    <a href="#">Star Routing</a>.
                </p>
            </div>
        </div>
    </div>
</footer>