<div class="spinner-overlay" *ngIf="loading">
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</div>

<div class="wrapper fadeInDown">
    <div id="formContent">

        <div class="fadeIn first">
            <img src="assets/img/LogoSinFondo.png" id="icon" alt="Star Routing logo" />
        </div>

        <form [formGroup]="newPwdForm" (ngSubmit)="onNewPwd()">
            <div class="fadeIn second">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Nueva contraseña</mat-label>
                        <input formControlName="contrasenaUsuario" matInput [ngClass]="{
                    'is-invalid': newPwdForm.get('contrasenaUsuario')?.invalid && (newPwdForm.get('contrasenaUsuario')?.touched || newPwdForm.get('contrasenaUsuario')?.dirty),
                    'is-valid': newPwdForm.get('contrasenaUsuario')?.valid && (newPwdForm.get('contrasenaUsuario')?.touched || newPwdForm.get('contrasenaUsuario')?.dirty)
                  }" [type]="showPassword ? 'text' : 'password'">
                        <mat-icon matSuffix (click)="togglePasswordVisibility()" [color]="'primary'">
                            {{ showPassword ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                    </mat-form-field><br>
                </p>
            </div>
            <div class="fadeIn third">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Repite la contraseña</mat-label>
                        <input formControlName="repetirContrasena" matInput [ngClass]="{
                    'is-invalid': newPwdForm.get('repetirContrasena')?.invalid && (newPwdForm.get('repetirContrasena')?.touched || newPwdForm.get('repetirContrasena')?.dirty),
                    'is-valid': newPwdForm.get('repetirContrasena')?.valid && (newPwdForm.get('repetirContrasena')?.touched || newPwdForm.get('repetirContrasena')?.dirty)
                  }" [type]="showPassword ? 'text' : 'password'">
                        <mat-icon matSuffix (click)="togglePasswordVisibility()" [color]="'primary'">
                            {{ showPassword ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                        <mat-error *ngIf="newPwdForm.get('repetirContrasena')?.errors?.['passwordMismatch']">
                            Las contraseñas no coinciden.
                        </mat-error>
                    </mat-form-field><br>
                </p>
            </div>
            <button type="submit" color="primary" class="fadeIn fourth" mat-raised-button
                [disabled]="newPwdForm.get('contrasenaUsuario')?.invalid || newPwdForm.get('repetirContrasena')?.invalid">Cambiar
                contraseña</button><br><br>
        </form>
    </div>
</div>