<div class="spinner-overlay" *ngIf="loading">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
<app-navigation>
  <div class="container">
    <br>
    <h2>Crear rol</h2>
    <br>
    <div class="container">
      <form [formGroup]="newForm" (ngSubmit)="postForm(newForm.value)">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlInput1">Nombre <b style="color: red;">*</b></label>
              <input type="text" class="form-control" formControlName="nombreRol" [ngClass]="{
              'is-invalid': newForm.get('nombreRol')?.invalid && (newForm.get('nombreRol')?.touched || newForm.get('nombreRol')?.dirty),
              'is-valid': newForm.get('nombreRol')?.valid && newForm.get('nombreRol')?.dirty
          }">
              <div *ngIf="newForm.get('nombreRol')?.errors?.['required']" class="invalid-feedback">
                Este campo es obligatorio.
              </div>
            </div>
          </div>
        </div>
        <br><br>

        <div class="form-group">
          <label for="permisos">Permisos <b style="color: red;">*</b></label><br><br>
          <div formArrayName="permisosSeleccionados">
            <div *ngFor="let permiso of permisos; let i = index">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [formControlName]="i">
                <label class="form-check-label">{{ permiso.nombrePermiso }}</label>
              </div>
            </div>
          </div>
        </div>

        <br><br>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" (change)="updateAllCheckboxes($event)">
          <label class="form-check-label">Seleccionar todos</label>
        </div>

        <br>

        <button type="button" mat-raised-button color='accent' (click)="goBack()">Atrás</button> |
        <button type="submit" mat-raised-button color='primary' [disabled]="newForm.invalid">Guardar</button>
        <br><br>
      </form>
    </div>
  </div>
</app-navigation>